@{
    ViewData["Title"] = "Main";
}

@{ int bid = Int32.Parse(@ViewData["uid"].ToString()); }

@*<h3>@HttpContext.Session.GetString("user").ToString();</h3>*@

<h2>Active user: @ViewData["userName"]</h2>

<h2>Active id: @bid</h2>

<a class="btn btn-primary" asp-action="CreateNewPost">CREATE</a>
<a class="btn btn-primary" asp-action="PostList">LIST OF MY POST</a>
<a class="btn btn-primary" asp-action="UpdatePost">UPDATE POST</a>
<a class="btn btn-primary" asp-action="DeletePost">DELETE POST</a>

