@{
    ViewData["Title"] = "Main";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<a class="btn btn-primary" href="/Home/CreateNewPost">CREATE NEW POST</a>
<a class="btn btn-primary" href="/Home/PostList">LIST OF MY POST</a>
<a class="btn btn-primary" href="/Home/UpdatePost">UPDATE POST</a>
<a class="btn btn-primary" href="/Home/DeletePost">DELETE POST</a>

